<div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content text-white">
      <div class="modal-body px-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid w-100 rounded" id="image" src="" alt="">
            </div>
            <div class="col-md-6 d-flex flex-column text-dark">
              <p class="lead" id="imageName"></p>
              <p class="mb-auto" id="imageDesc"></p>
              <div class="input-group my-2">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip" data-placement="top"
                    title="Copy to clipboard">Copy link</button>
                </div>
                <input type="text" class="form-control" id="imageLink">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>